.keyDiv {
    display: inline-flex;
    height: 34px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.plus {
    display: inline-block;
    margin: 0 10px;
    font-family: monospace;
    color: white;
    font-weight: bold;
    filter: drop-shadow(0 0 2px black);
}

#keysContainer {
    position: fixed;
    top: 50vh;
    left: 50px;
    transform: translate(0, -50%);
}

#keysContainer[data-theme="default"] {
    background-color: goldenrod;
    color: black;
    box-shadow: 0 0 2px black;
}

#keysContainer[data-theme="dark-slick"] .keyDiv {
    box-sizing: border-box;
    background-color: #333333;
    border: 3px solid deepskyblue;
    color: deepskyblue;
    font-weight: 700;
    box-shadow: 0 0 8px deepskyblue;
}